<header class="navbar">
  <div class="logo-container" routerLink="/">
    <i class="pi pi-box logo-icon"></i>
    <span class="brand-name">MAGDALOR <span class="highlight">TECH</span></span>
  </div>

  <nav class="nav-links">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
    <a routerLink="/gift" routerLinkActive="active">GIFT</a>
    <a routerLink="/about" routerLinkActive="active">ABOUT</a>
  </nav>

  <div class="actions">
    <a routerLink="/login" class="login-link">LOGIN</a>
        <a routerLink="/register" class="login-link">REGISTER</a>

    </div>
</header>